version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: intuitive-backend
    ports:
      - '8000:8000'
    volumes:
      - ./data:/app/data
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: intuitive-frontend
    ports:
      - '5173:5173'
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
